<body class="body-3">

   
    
    
    

    
    <!-- Offcanvas area start -->
    <div class="fix">
        <div class="offcanvas__area">
            <div class="offcanvas__wrapper">
                <div class="offcanvas__content">
                    <div class="offcanvas__top d-flex justify-content-between align-items-center">
                        <div class="offcanvas__logo">
                            <a href="index.html">
                                <img src="assets/imgs/logo/logo-white.svg" alt="logo not found">
                            </a>
                        </div>
                        <div class="offcanvas__close">
                            <button class="offcanvas-close-icon animation--flip">
                                    <span class="offcanvas-m-lines">
                                  <span class="offcanvas-m-line line--1"></span><span class="offcanvas-m-line line--2"></span><span class="offcanvas-m-line line--3"></span>
                                    </span>
                            </button>
                        </div>
                    </div>
                    <div class="mobile-menu fix"></div>
                    <div class="offcanvas__social">
                        <h4 class="offcanvas__title mb-20">Subscribe & Follow</h4>
                        <p class="mb-30">Medical practices evolved over millennia, from ancient civilizations like Egypt and Mesopotamia to the groundbreaking</p>
                        <ul class="header-top-socail-menu d-flex">
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a href="https://vimeo.com/"><i class="fa-brands fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                    <div class="offcanvas__btn d-sm-none">
                        <div class="header__btn-wrap">
                            <a href="https://themeforest.net/user/rrdevs/portfolio" class="rr-btn rr-btn__theme rr-btn__theme-white mt-40 mt-sm-35 mt-xs-30">
                                <span class="btn-wrap">
                                    <span class="text-one">Purchase Now</span>
                                    <span class="text-two">Purchase Now</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas__overlay overlay-open"></div>
    <div class="offcanvas__overlay-white"></div>
    <app-app-hedear></app-app-hedear>


    <main class="home-3__background overflow-hidden">
        <!-- Banner area start -->
        <section class="banner-3 banner-3__space overflow-hidden">
            <div class="container">
                <div class="banner-3__shape"></div>
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="banner-3__content">
                            <h1 class="mb-0 title-animation">Hearing Excellence Your <span>Auditory Haven</span></h1>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="banner-3__content mt-md-30 mt-sm-30 mt-xs-30">
                            <p class="mb-0">The premier online destination for top-quality hearing aid products and accessories. We offer a wide selection of advanced hearing aids from leading brands to enhance your auditory experience </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper banner-3__slider mt-65 mt-xs-50">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-3__item position-relative overflow-hidden">
                            <div class="panel wow"></div>
                             <div class="banner-3__item-media">
                                 <img  style=" width: 1920px;
                                 height: 525px;
                                 object-fit: cover; /* Ensures the image covers the specified dimensions without stretching */
                                 object-position: center;" class="img-fluid" src="assets/imgs/high-angle-hearing-aids-case.jpg" alt="icon not found">
                             </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-3__item position-relative overflow-hidden">
                            <div class="panel wow"></div>
                             <div class="banner-3__item-media">
                                 <img class="img-fluid" src="assets/imgs/acceuil1.png" alt="icon not found">
                             </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-3__item position-relative overflow-hidden">
                            <div class="panel wow"></div>
                             <div class="banner-3__item-media">
                                 <img class="img-fluid" src="assets/imgs/banner-2.jpg" alt="icon not found">
                             </div>
                        </div>
                    </div>
                </div>
                <div class="banner-3__pagination"></div>
            </div>
        </section>

        <section class="service-2 section-space">
            <div class="container">
                <div class="row mb-60 mb-xs-50 align-items-lg-end align-items-center">
                    <div class="col-lg-6">
                        <div class="section__title-wrapper mb-md-30 mb-mb-30 mb-xs-30">
                            <h5 class="section__subtitle color-theme-primary mb-15 mb-xs-10 title-animation"><img src="assets/imgs/ask-quesiton/heart.png" alt="icon not found" class="img-fluid"> Our Services</h5>
                            <h2 class="section__title mb-0 text-capitalize title-animation">Echoes of Hearing: Rooted in Precision and Empathy</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service-2__slider__arrow d-flex justify-content-lg-end justify-content-start">
                            <button class="service-2__slider__arrow-prev d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-arrow-left"></i>
                            </button>
    
                            <button class="service-2__slider__arrow-next d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12">
                        <div class="swiper service-2__slider mb-minus-60">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="service-2__item">
                                        <a href="service-details.html" class="service-2__item-media">
                                            <img class="img-fluid" src="assets/imgs/hearing-aids.jpg" alt="image not found">
                                        </a>
    
                                        <div class="service-2__item-content">
                                            <h4 class="mb-20 mb-xs-15 d-flex align-items-start">
                                                <a href="blog-details.html">
                                                <img class="img-fluid mr-15" src="assets/imgs/service-2/service-icon-1.png" alt="icon not found">
                                               Sales and Accessories</a>
                                            </h4>
    
                                             <ul>
                                                 <li>Wide Range of Hearing Aid Products</li>
                                                 <li>Accessories and Assistive Devices</li>
                                                 <li>Consultative Sales Approach</li>
                                             </ul>
    
                                            <a class="rr-a-btn mt-30 mt-xs-25 d-block" href="blog-details.html">Read More <i class="fa-solid fa-circle-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="service-2__item">
                                        <a href="service-details.html" class="service-2__item-media">
                                            <img class="img-fluid" src="assets/imgs/high-angle-hands-holding-hearing-aids.jpg" alt="image not found">
                                        </a>
    
                                        <div class="service-2__item-content">
                                            <h4 class="mb-20 mb-xs-15 d-flex align-items-start">
                                                <a href="blog-details.html">
                                                <img class="img-fluid mr-15" src="assets/imgs/service-2/service-icon-2.png" alt="icon not found">
                                                Hearing Aid Consultation</a>
                                            </h4>
    
                                             <ul>
                                                 <li>Comprehensive Hearing Assessments</li>
                                                 <li>Customized Hearing Aid Fittings</li>
                                                 <li>Ongoing Hearing Care and Support</li>
                                             </ul>
    
                                            <a class="rr-a-btn mt-30 mt-xs-25 d-block" href="blog-details.html">Read More <i class="fa-solid fa-circle-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="service-2__item">
                                        <a href="service-details.html" class="service-2__item-media">
                                            <img class="img-fluid" style="height: 276px;" src="assets/imgs/person-having-hearing-issues.jpg" alt="image not found">
                                        </a>
    
                                        <div class="service-2__item-content">
                                            <h4 class="mb-20 mb-xs-15 d-flex align-items-start">
                                                <a href="blog-details.html">
                                                <img class="img-fluid mr-15" src="assets/imgs/service-2/service-icon-3.png" 
                                                alt="icon not found">Maintenance and Care</a>
                                            </h4>
    
                                             <ul>
                                                 <li>Routine Hearing Aid Checks</li>
                                                 <li>Repairs and Adjustments</li>
                                                 <li>Educational Workshops and Training</li>
                                             </ul>
    
                                            <a class="rr-a-btn mt-30 mt-xs-25 d-block" href="blog-details.html">Read More <i class="fa-solid fa-circle-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="why-choose-us">
            <div class="why-choose-us__shap">
                <img src="./assets/imgs/why-choose-us/why-choose-us-shap-2.png" alt="">
            </div>
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4">
                        <div class="why-choose-us__content">
                            <div class="section__title-wrapper mb-10">
                                <h5 class="section__subtitle color-theme-primary mb-15 mb-xs-10 title-animation"><img src="assets/imgs/ask-quesiton/heart.png" alt="icon not found" class="img-fluid">Why Choose Us</h5>
                                <h2 class="section__title mb-0 text-capitalize title-animation">Embrace Hearing Your Pathway</h2>
                            </div>
                            <p class="mb-40">Our platform is dedicated to enhancing your auditory experience by offering a comprehensive range of advanced hearing aids from leading brands</p>
    
                            <a href="about-us.html" class="rr-btn position-relative overflow-hidden">
                                <div class="panel wow"></div>
                                <span class="btn-wrap">
                                    <span class="text-one">Read More <i class="fa-solid fa-plus"></i></span>
                                    <span class="text-two">Read More <i class="fa-solid fa-plus"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
    
                    <div class="col-lg-8">
                        <div class="why-choose-us__wrapper">
                            <div class="why-choose-us__wrapper-media">
                                <div class="why-choose-us__wrapper-media-shap">
                                    <img src="./assets/imgs/why-choose-us/why-choose-us-shap.png" class="img-fluid" alt="">
                                </div>
                                <img src="assets/imgs/why-choose-us.png" class="img-fluid" alt="">
                            </div>
    
                            <ul class="why-choose-us__wrapper-list">
                                <li><i class="fa-solid fa-check"></i>Echo Care</li>
                                <li><i class="fa-solid fa-check"></i>Harmony Hearing</li>
                                <li><i class="fa-solid fa-check"></i>Serene Solutions</li>
                                <li><i class="fa-solid fa-check"></i>Tranquil Trails</li>
                                <li><i class="fa-solid fa-check"></i>Zenith Wellness</li>
                                <li><i class="fa-solid fa-check"></i>Clarity Health</li>
                                <li><i class="fa-solid fa-check"></i>Blissful Services</li>
                                <li><i class="fa-solid fa-check"></i>Harmony Solutions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
        <div class="brand__area section-space">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="swiper brand__active">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="brand__item text-center">
                                        <div class="brand__thumb">
                                            <img class="img-fluid" src="assets/imgs/brand/brand-1.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand__item text-center">
                                        <div class="brand__thumb">
                                            <img class="img-fluid" src="assets/imgs/brand/brand-2.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand__item text-center">
                                        <div class="brand__thumb">
                                            <img class="img-fluid" src="assets/imgs/brand/brand-3.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand__item text-center">
                                        <div class="brand__thumb">
                                            <img class="img-fluid" src="assets/imgs/brand/brand-4.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="brand__item text-center">
                                        <div class="brand__thumb">
                                            <img class="img-fluid" src="assets/imgs/brand/brand-5.png" alt="image not found">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <section class="experience-2">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="experience-2__box experience-2__bottom-up d-flex flex-wrap justify-content-between theme-bg-primary">
                            <div class="experience-2__item d-flex flex-wrap align-items-center">
                                <div class="experience-2__item-icon">
                                    <img class="img-fluid" src="assets/imgs/experience-2/experience-2__item-1.png" alt="icon not found">
                                </div>
                                <div class="experience-2__item-text">
                                    <h2 class="color-white"><span class="odometer" data-count="200">0</span>+</h2>
                                    <p class="mb-0 text-uppercase color-white">HAPPY PATIENTS</p>
                                </div>
                            </div>
    
                            <div class="experience-2__item d-flex flex-wrap align-items-center">
                                <div class="experience-2__item-icon">
                                    <img class="img-fluid" src="assets/imgs/experience-2/experience-2__item-2.png" alt="icon not found">
                                </div>
                                <div class="experience-2__item-text">
                                    <h2 class="color-white"><span class="odometer" data-count="20">0</span>+</h2>
                                    <p class="mb-0 text-uppercase color-white">SAVED HEARTS</p>
                                </div>
                            </div>
    
                            <div class="experience-2__item d-flex flex-wrap align-items-center">
                                <div class="experience-2__item-icon">
                                    <img class="img-fluid" src="assets/imgs/experience-2/experience-2__item-3.png" alt="icon not found">
                                </div>
                                <div class="experience-2__item-text">
                                    <h2 class="color-white"><span class="odometer" data-count="10">0</span>K+</h2>
                                    <p class="mb-0 text-uppercase color-white">EXPERT DOCTORS</p>
                                </div>
                            </div>
    
                            <div class="experience-2__item d-flex flex-wrap align-items-center">
                                <div class="experience-2__item-icon">
                                    <img class="img-fluid" src="assets/imgs/experience-2/experience-2__item-4.png" alt="icon not found">
                                </div>
                                <div class="experience-2__item-text">
                                    <h2 class="color-white"><span class="odometer" data-count="900">0</span>+</h2>
                                    <p class="mb-0 text-uppercase color-white">SERENITY WORK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <br><br><br>
        <section class="about-us-3 about-us-3__space overflow-hidden">
            <div class="container">
                <div class="about-us-3__background"><div class="about-us-3__shap" data-background="./assets/imgs/assets/imgs/img1.jpg"></div></div>
    
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-us-3__content">
                            <div class="section__title-wrapper mb-30">
                                <h5 class="section__subtitle color-theme-primary mb-15 mb-xs-10 title-animation"><img src="assets/imgs/ask-quesiton/heart.png" alt="icon not found" class="img-fluid">About Us</h5>
                                <h2 class="section__title mb-20 text-capitalize title-animation">Harbor Health Anchored in Care and Commitment</h2>
                                <p class="mb-30">At Echoes of Hearing, we are dedicated to transforming lives through exceptional hearing care. With a commitment to precision and empathy, our mission is to provide personalized solutions that enhance auditory experiences.</p>
                            </div>
                            <ul class="about-us-3__content__list">
                                <li><i class="fa-solid fa-circle-check"></i> <h5>Provide demonstrations and trials of the latest models                                </h5></li>
                                <li><i class="fa-solid fa-circle-check"></i> <h5>Maximizing comfort and performance with precise adjustments</h5></li>
                                <li><i class="fa-solid fa-circle-check"></i> <h5>Listen attentively to concerns and tailor solutions accordingly</h5></li>
                            </ul>
                            <div class="about-us-3__content-btn d-flex align-items-center mt-35">
                                <div class="about-us-3__content-btn__icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="about-us-3__content-btn__text">
                                    <p class="mb-0 color-white">Requesting A Call:</p>
                                    <h5 class="mb-0 color-white"><a href="tel:6295550129">(629) 555-0129</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-us-3__media">
                            <img style="border-radius: 11%; " src="assets/imgs/person-having-hearing-issues (1).jpg" class="img-fluid" alt="img not found">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
        <!-- service-3 area start --> 
        <section class="service-3 section-space__top">
            <div class="container">
                <div class="row mb-minus-50">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-3__item mb-50">
                            <div class="service-3__item-header d-flex mb-40 mb-xs-35">
                                <div class="service-3__item-header-icon">
                                    <img class="img-fluid" src="assets/imgs/service-3/service-icon-1.png" alt="icon not found">
                                </div>
                                <h4 class="mb-0">Get Fast Reply</h4>
                            </div>
    
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit am rcus nunc. Duis egestas ac ante sed tincidunt</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-3__item mb-50">
                            <div class="service-3__item-header d-flex mb-40 mb-xs-35">
                                <div class="service-3__item-header-icon">
                                    <img class="img-fluid" src="assets/imgs/service-3/service-icon-2.png" alt="icon not found">
                                </div>
                                <h4 class="mb-0">InspireHealth Hub</h4>
                            </div>
    
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit am rcus nunc. Duis egestas ac ante sed tincidunt</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-3__item mb-50">
                            <div class="service-3__item-header d-flex mb-40 mb-xs-35">
                                <div class="service-3__item-header-icon">
                                    <img class="img-fluid" src="assets/imgs/service-3/service-icon-3.png" alt="icon not found">
                                </div>
                                <h4 class="mb-0">Health Services</h4>
                            </div>
    
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit am rcus nunc. Duis egestas ac ante sed tincidunt</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="service-3__item mb-50">
                            <div class="service-3__item-header d-flex mb-40 mb-xs-35">
                                <div class="service-3__item-header-icon">
                                    <img class="img-fluid" src="assets/imgs/service-3/service-icon-4.png" alt="icon not found">
                                </div>
                                <h4 class="mb-0">Voyage Wellness</h4>
                            </div>
    
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit am rcus nunc. Duis egestas ac ante sed tincidunt</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    
    
    
     
    
     
    
    </main>
    <!-- Body main wrapper end -->
    <br><br><br>
    <section class="footer-3__cta footer-3__cta-bottom-up">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-3__cta-content d-flex align-items-center flex-xl-row flex-column  theme-bg-color-100">
                        <div class="footer-3__cta-content-left">
                            <div class="section__title-wrapper">
                                <h2 class="section__title text-capitalize mb-20 mb-xs-15 title-animation">are you ready to start ?</h2>
                                <p class="mb-40 mb-xs-30">Custom Software Development Tailored Solutions for Your Business Custom Software Development Tailored Solutions </p>
    
                                <div class="footer-3__cta-content-form d-flex flex-sm-row flex-column align-items-center justify-content-center">
                                    <input type="text" placeholder="Enter Email">
                                    <button  class="rr-btn">
                                        <span class="btn-wrap">
                                            <span class="text-one">Contact us</span>
                                            <span class="text-two">Contact us</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="footer-3__cta-content-right">
                            <div class="footer-3__cta-content-media" data-background="assets/imgs/footer-3/cta-shape.png">
                                <img class="img-fluid" src="assets/imgs/footer-3/cta.png" alt="icon not found">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer area start -->
    <footer>
        <section class="footer-3__area-common theme-bg-color-900 overflow-hidden" data-background="assets/imgs/footer-3/background-shape.svg">
            <div class="container">
                <div class="row mb-minus-50">
                    <div class="col-lg-3 col-6">
                        <div class="footer-3__widget footer-3__widget-item-1">
                            <div class="footer-3__logo mb-30 mb-xs-25">
                                <a href="index.html">
                                    <img class="img-fluid" src="assets/imgs/logo/logo-white.svg" alt="logo not found">
                                </a>
                            </div>
    
                            <div class="footer-3__content">
                                <p class="mb-0 color-white">Medical practices evolved over millennia, from ancient civilizations like Egypt and Mesopotamia to the groundbreaking</p>
                            </div>
    
                            <div class="footer-3__social mt-30 mt-xs-30">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.52217 6.77491L15.4785 0H14.0671L8.89516 5.88256L4.76437 0H0L6.24656 8.89547L0 16H1.41155L6.87321 9.78782L11.2356 16H16L9.52183 6.77491H9.52217ZM7.58887 8.97384L6.95596 8.08805L1.92015 1.03974H4.0882L8.15216 6.72795L8.78507 7.61374L14.0677 15.0075H11.8997L7.58887 8.97418V8.97384Z" fill="white"/>
                                    </svg>
                                </a>
                                <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="https://www.pinterest.com/"><i class="fa-brands fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-6">
                        <div class="footer-3__widget footer-3__widget-item-2">
                            <div class="footer-3__widget-title">
                                <h4>About Company</h4>
                            </div>
    
                            <div class="footer-3__link">
                                <ul>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="faq.html">Testimonial</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="portfolio.html">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-6">
                        <div class="footer-3__widget footer-3__widget-item-3">
                            <div class="footer-3__widget-title">
                                <h4>Services</h4>
                            </div>
                            <div class="footer-3__link">
                                <ul>
                                    <li><a href="about-us.html">Reliable Rentals</a></li>
                                    <li><a href="about-us.html">Golden Key Properties</a></li>
                                    <li><a href="about-us.html">Swift Home Sales</a></li>
                                    <li><a href="about-us.html">Elite Realty Services</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-6">
                        <div class="footer-3__widget footer-3__widget-item-4">
                            <div class="footer-3__widget-title">
                                <h4>Recent News</h4>
                            </div>
    
                            <div class="footer-3__link footer-3__link-blog">
                                <ul>
                                    <li>
                                        <a href="blog-details.html">
                                            <h5>The standard chunk of Lorem Ipsum</h5>
                                            <span><i class="fa-solid fa-calendar-days"></i> 17 Oct 2023</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog-details.html">
                                            <h5>The standard chunk of Lorem Ipsum</h5>
                                            <span><i class="fa-solid fa-calendar-days"></i> 17 Oct 2023</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="footer-3__bottom-wrapper">
                <div class="container">
                    <div class="footer-3__bottom">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="footer-3__copyright text-lg-start text-center">
                                    <p class="mb-0">© <a href="index.html">Medilix</a>  2024 | All Rights Reserved</p>
                                </div>
                            </div>
    
                            <div class="col-lg-6">
                                <div class="footer-3__copyright-menu">
                                    <ul>
                                        <li><a href="about-us.html">Trams & Condition</a></li>
                                        <li><a href="about-us.html">Privacy Policy</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- Footer area end -->
    
    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/meanmenu.min.js"></script>
    <script src="assets/js/plugins/odometer.min.js"></script>
    <script src="assets/js/plugins/swiper.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/vendor/magnific-popup.min.js"></script>
    <script src="assets/js/vendor/type.js"></script>
    <script src="assets/js/plugins/nice-select.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.min.js"></script>
    <script src="assets/js/vendor/jquery.appear.js"></script>
    <script src="assets/js/plugins/parallax.min.js"></script>
    <script src="assets/js/plugins/parallax-scroll.js"></script>
    <script src="assets/js/plugins/gsap.min.js"></script>
    <script src="assets/js/plugins/ScrollTrigger.min.js"></script>
    <script src="assets/js/plugins/SplitText.js"></script>
    <script src="assets/js/plugins/tween-max.min.js"></script>
    <script src="assets/js/plugins/draggable.min.js"></script>
    <script src="assets/js/plugins/smoothscroll.js"></script>
    <script src="assets/js/vendor/ajax-form.js"></script>
    <script src="assets/js/main.js"></script>
    </body>