<header>
    <div id="header-sticky" class="header__area header-3">
        <div class="container">
            <div class="mega__menu-wrapper p-relative">
                <div class="header__main">
                    <div class="header__left d-flex align-items-center">
                        <div class="header__logo">
                            <a href="index.html">
                                <div class="logo">
                                    <img src="assets/imgs/logo/logo-black.svg" alt="logo not found">
                                </div>
                            </a>
                        </div>
                        <style>
                            .nav-item {
                                margin-right: 20px; /* Adjust the value as needed */
                            }
                    
                            /* Optionally, remove margin from the last item if needed */
                            .nav-item:last-child {
                                margin-right: 0;
                            }
                        </style>
                        <div class="mean__menu-wrapper d-none d-lg-block">
                        <div class="main-menu">
                            <nav id="mobile-menu" >
                                <ul>
                                    <li >
                                        <a href="javascript:void(0)">Home</a>
                                       
                                    </li> 
                                    <li >
                                        <a href="service.html">Services</a></li> 
                                    <li >
                                        <a routerLink="/AvailableProducts">Our shop</a> </li> 
                                  <li><a routerLink="/login">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    </div>

                    <div class="header__right">
                        <div class="header__action d-flex align-items-center">
                            <div class="header__btn-wrap d-none d-sm-inline-flex">
                                <a routerLink="/login" class="rr-btn rr-btn__primary-color">
                                    <span class="btn-wrap">
                                        <span class="text-one">Log In</span>
                                        <span class="text-two">Log In</span>
                                    </span>
                                </a>
                            </div>

                            <div class="header__hamburger ml-20 d-xl-none">
                                <div class="sidebar__toggle">
                                    <a class="bar-icon" href="javascript:void(0)">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>