<body class="pace-done " data-select2-id="select2-data-74-krc1"><div class="pace pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div></div>
<app-dash-header></app-dash-header>
<main class="nxl-container">
    <div class="nxl-content">
        <!-- [ page-header ] start -->
        <div class="page-header">
            <div class="page-header-left d-flex align-items-center">
                <div class="page-header-title">
                    <h5 class="m-b-10">Profile</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/Admin" >Home</a></li>
                    <li class="breadcrumb-item">View</li>
                </ul>
            </div>
            <div class="page-header-right ms-auto">
                <div class="page-header-right-items">
                    <div class="d-flex d-md-none">
                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                            <i class="feather-arrow-left me-2"></i>
                            <span>Back</span>
                        </a>
                    </div>
                 
                </div>
                <div class="d-md-none d-flex align-items-center">
                    <a href="javascript:void(0)" class="page-header-right-open-toggle">
                        <i class="feather-align-right fs-20"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- [ page-header ] end -->
        <!-- [ Main Content ] start -->
        <div class="main-content">
            <div class="row">
                <div class="col-xxl-4 col-xl-6">
                    <div class="card stretch stretch-full">
                        <div class="card-body">
                            <div class="mb-4 text-center">
                                <div class="wd-150 ht-150 mx-auto mb-3 position-relative">
                                    <div class="avatar-image wd-150 ht-150 border border-5 border-gray-3">
                                        <img src="assets/ok/images/auth/profile.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="wd-10 ht-10 text-success rounded-circle position-absolute translate-middle" style="top: 76%; right: 10px">
                                        <i class="bi bi-patch-check-fill"></i>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <a href="javascript:void(0);" class="fs-14 fw-bold d-block" >{{userData.userFirstName }} {{ userData.userLastName}} </a>
<br>                                </div>
                                <div class="fs-12 fw-normal text-muted text-center d-flex flex-wrap gap-3 mb-4">
                                    <div class="flex-fill py-3 px-4 rounded-1 d-none d-sm-block border border-dashed border-gray-5">
                                        <h6 class="fs-15 fw-bolder">28.65K</h6>
                                        <p class="fs-12 text-muted mb-0">Followers</p>
                                    </div>
                                    <div class="flex-fill py-3 px-4 rounded-1 d-none d-sm-block border border-dashed border-gray-5">
                                        <h6 class="fs-15 fw-bolder">38.85K</h6>
                                        <p class="fs-12 text-muted mb-0">Following</p>
                                    </div>
                                    <div class="flex-fill py-3 px-4 rounded-1 d-none d-sm-block border border-dashed border-gray-5">
                                        <h6 class="fs-15 fw-bolder">43.67K</h6>
                                        <p class="fs-12 text-muted mb-0">Engagement</p>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="hstack justify-content-between mb-4">
                                    <span class="text-muted fw-medium hstack gap-3"><i class="feather-map-pin"></i>Full Adress</span>
                                    <a href="javascript:void(0);" class="float-end">{{userData.codePostal }} ,{{userData.address }}, {{userData.pays }}</a>
                                </li>
                                <li class="hstack justify-content-between mb-4">
                                    <span class="text-muted fw-medium hstack gap-3"><i class="feather-phone"></i>Phone</span>
                                    <a href="javascript:void(0);" class="float-end">{{userData.phoneNumber }}</a>
                                </li>
                                <li class="hstack justify-content-between mb-0">
                                    <span class="text-muted fw-medium hstack gap-3"><i class="feather-mail"></i>Email</span>
                                    <a href="javascript:void(0);" class="float-end">{{userData.email }}</a>
                                </li>
                            </ul>
                            <div class="d-flex gap-2 text-center pt-4">
                                <a href="javascript:void(0);" class="w-50 btn btn-light-brand">
                                    <i class="feather-trash-2 me-2"></i>
                                    <span>Archived</span>
                                </a>
                                <a (click)="openModal( userData,modalContent)" href="javascript:void(0);" class="w-50 btn btn-primary">
                                    <i class="feather-edit me-2"></i>
                                    <span>Edit Profile</span>
                                </a>
                            </div>
                        </div>
                    </div>
                  
                
                </div>
                <div class="col-xxl-8 col-xl-6">
                    <div class="card border-top-0">
                        <div class="card-header p-0">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs flex-wrap w-100 text-center customers-nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item flex-fill border-top" role="presentation">
                                    <a href="javascript:void(0);" class="nav-link active" data-bs-toggle="tab" data-bs-target="#overviewTab" role="tab" aria-selected="false">Overview</a>
                                </li>
                           
                                <li class="nav-item flex-fill border-top" role="presentation">
                                    <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#connectionTab" role="tab" aria-selected="false">Connection</a>
                                </li>
                                <li class="nav-item flex-fill border-top" role="presentation">
                                    <a href="javascript:void(0);" class="nav-link" data-bs-toggle="tab" data-bs-target="#securityTab" role="tab" aria-selected="false">Security</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade  show active p-4" id="overviewTab" role="tabpanel">
                       
                                <div class="profile-details mb-5">
                                    <div class="mb-4 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold mb-0">Profile Details:</h5>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light-brand">Edit Profile</a>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">First Name:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.userFirstName}}</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Last Name:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.userFirstName}}</div>
                                    </div>
                                   
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Date of Birth:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.dateOfBirth}}</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Mobile Number:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.phoneNumber}}</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Email Address:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.email}}</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Location:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.address}}</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Joining Date:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.createdDate}}</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Country:</div>
                                        <div class="col-sm-6 fw-semibold">{{userData.pays}}</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Communication:</div>
                                        <div class="col-sm-6 fw-semibold">Email</div>
                                    </div>
                                    <div class="row g-0 mb-4">
                                        <div class="col-sm-6 text-muted">Allow Changes:</div>
                                        <div class="col-sm-6 fw-semibold">YES</div>
                                    </div>
                                  
                                </div>
                                <div class="alert alert-dismissible mb-4 p-4 d-flex alert-soft-warning-message profile-overview-alert" role="alert">
                                    <div class="me-4 d-none d-md-block">
                                        <i class="feather feather-alert-triangle fs-1"></i>
                                    </div>
                                    <div>
                                        <p class="fw-bold mb-1 text-truncate-1-line">Your profile has not been updated yet!!!</p>
                                            <br>
                                        <a (click)="openModal( userData,modalContent)" href="javascript:void(0);" class="btn btn-sm bg-soft-warning text-warning d-inline-block" >Update Now</a>
                                        <button (click)="openModal(userData, modalContent)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                     
                           
                            <div class="tab-pane fade" id="connectionTab" role="tabpanel">
                                <div class="development-connections p-4 pb-0">
                                    <div class="mb-4 d-flex align-items-center justify-content-between">
                                        <h5 class="fw-bold">Developement Connections:</h5>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-light-brand">View Alls</a>
                                    </div>
                                    <div class="mb-5">
                                        <label class="form-label">Adress Email</label>
                                        <input type="text" class="form-control"   [(ngModel)]="userData.email">
                                        <small class="form-text text-muted">Your email</small>
                                    </div>
                                    <div style="width: 30%;" class="mb-4">
                                        <label class="form-label">Password</label>
                                        <input style="font-size: 20px;" type="password" class="form-control"   [(ngModel)]="userData.userPassword">
                                        <small  class="form-text text-muted">Your password </small>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <button _ngcontent-ng-c363587810="" (click)="updateProfile()" href="javascript:void(0);" class="btn btn-lg btn-primary w-100 successAlertMessage">Update Account</button>
                                </div>
                                <hr>
                            </div>
                            <div class="tab-pane fade p-4" id="securityTab" role="tabpanel">
                                <hr class="my-5">
                                <div class="alert alert-dismissible mb-4 p-4 d-flex alert-soft-danger-message" role="alert">
                                    <div class="me-4 d-none d-md-block">
                                        <i class="feather feather-alert-triangle text-danger fs-1"></i>
                                    </div>
                                    <div>
                                        <p class="fw-bold mb-0 text-truncate-1-line">You Are  Deactivating Your Account</p>
                                        <p class="text-truncate-3-line mt-2 mb-4">Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</p>
                                        <a href="javascript:void(0);" class="btn btn-sm btn-danger d-inline-block">Learn more</a>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                                <div class="card mt-5">
                                    <div class="card-body">
                                        <h6 class="fw-bold">Dasactivate Account</h6>
                                        <p class="fs-11 text-muted">Go to the Data &amp; Privacy section of your profile Account. Scroll to "Your data &amp; privacy options." desactive your Profile Account. Follow the instructions to desactive your account:</p>
                                        <div class="my-4 py-2">
                                            <div class="mt-3">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="acDeleteDeactive">
                                                    <label class="custom-control-label c-pointer" for="acDeleteDeactive">I confirm my account deactivation.</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-sm-flex gap-2">
                                            <a (click)="ArchiverUser(userData.id)" href="javascript:void(0);" class="btn btn-danger mt-2 mt-sm-0 successAlertMessage">Deactiveted Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <!-- [ Footer ] start -->
    <footer class="footer">
        <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
            <span>Copyright ©</span>
            <script>
                document.write(new Date().getFullYear());
            </script>2024
        </p>
        <div class="d-flex align-items-center gap-4">
            <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
            <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
            <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
        </div>
    </footer>
    <!-- [ Footer ] end -->
</main>
<ng-template #modalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style=" font-family: Georgia, 'Times New Roman', Times, serif;">Profile</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form action="index.html" class="w-100 mt-4 pt-2">
            <div class="col-lg-4">
                <label for="fullnameInput" class="fw-semibold">Full Name: </label>
            </div>
           
            <div class="mb-4">
                <input type="text" class="form-control" placeholder="Full Name"  id="fullName" placeholder="Full Name" [value]="fullName" disabled>
            </div>

            <div class="col-lg-4">
                <label for="fullnameInput" class="fw-semibold">Phone Number: </label>
            </div>
            <div class="mb-4">
                <input type="tel" class="form-control" placeholder="Phone Number"   [(ngModel)]="userData.phoneNumber " name="phoneNumber">
            </div>
            <div class="col-lg-4">
                <label for="fullnameInput" class="fw-semibold">Country :</label>
            </div>
            <div class="mb-4">
                <input type="tel" class="form-control"  [(ngModel)]="userData.pays" name="pays">
            </div>

            <div class="col-lg-4">
                <label for="fullnameInput" class="fw-semibold">Adresse: </label>
            </div>
            <div class="mb-4">
                <input type="tel" class="form-control"  [(ngModel)]="userData.address" name="address">
            </div>
           
            <div class="mt-5">
                <button _ngcontent-ng-c363587810="" (click)="updateProfile()" href="javascript:void(0);" class="btn btn-lg btn-primary w-100 successAlertMessage">Update Account</button>
            </div>
        </form>  
     </div>

  </ng-template>